.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #212121;
}

.Buttons {
  font-size: 30px;
  padding: 10px;
  margin: 40px;
  width: 300px;
  border-radius: 15px;
  font-weight: 700;
  border: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
