.super-mario {
    position: absolute;
    width: 150px;
    top: 150px;
  }
  
  .goomba {
    position: absolute;
    width: 100px;
    top: 370px;
  }
  
  .baloon {
    position: absolute;
    top: 110px;
    left: 242px;
    width: 270px;
    z-index: 1;
  }
  
  .speach {
    position: absolute;
    font-size: 25px;
    left: 250px;
    z-index: 2;
    top: 140px;
  }
  
  .bowser {
    position: absolute;
    top: 150px;
    left: 510px;
    width: 200px;
  }