.App {
  text-align: center;
}

.pokedex {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  margin: auto;
}

.pokemon {
  border: 1px solid grey;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  flex: 1;
  transition: all 0.5s ease-in-out;
}

.pokemon:hover {
  transform: scale(105%);
}
