* {
  text-align: center;
}

h1 {
  margin-top: 50px;
}

p {
  text-align: justify;
}

#text-container {
  margin-top: 50px;
}

.changes {
  margin-top: 20px;
}

#text {
  margin: auto;
  width: 600px;
}