@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 30px auto;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 2.25em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1.25em;
  margin: 40px auto;
  padding: 15px;
}

img {
  max-width: 100%;
  padding: 10px;
}

figure {
  margin: 30px auto;
  text-align: center;
}

figcaption {
  font-size: 1.15em;
  padding: 15px;
}

@media (min-width: 798px) {
  body {
    font-size: 1.25em;
    background-color: #a4a4a4;
    margin: 50px auto;
    max-width: 960px;
  }
  figure {
    float: left;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: #7c7c7c;
    font-size: 1.5em;
    max-width: 1030px;
    margin: 60px auto;
  }
}