body {
  background: #eceffc;
  font-size: 20px;
}

#main-container {
  width: 600px;
  margin: 40px auto;
}

fieldset {
  border-radius: 10px;
  margin-bottom: 10px;
}

.form-items {
  margin: 20px;
}

textarea {
  width: 100%;
  height: 80px;
  resize: none;
}

#submit-btn{
  margin-top: 10px;
  margin-left: 220px;
  text-align: center;
  font-size: 14px;
}

/* #2F3032 */