div {
    padding: 1px 5px;
    width: 180px;
}

div:hover {
    border: 1px solid #00b4d8;
}

#primary {
    color: red;
    font-style: italic;
}

#secondary {
    color: magenta;
}

#complementary {
    color: orange;
    font-size: 21px;
    font-style: italic;
}

#dark {
    color: #001d3d;
}

#light {
    color: #84a59d;
    font-style: italic;
}